///////////////////////////////////////////
//                                       //
//  Ascent Control Panel Theme           //
//  by Jack McDade                       //
//  Version 1.0                          //
//                                       //
///////////////////////////////////////////

///////////////////
// Color Variables
///////////////////

$textColor:    #1e3640;
$olive: $textColor;
$orange:   #9e5200;
$red:      #bf1d2d;
$yellow:   #debb42;
$blue:     #2066d0;
$lightTan: #edede7;
$dark:     #61787e;

$defaultFont: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
$defaultHeaderFont: 'Raleway', 'Helvetica Neue', Arial, sans-serif;

$inputBackground: lighten($lightTan, 3%);
$borderColor: darken($lightTan, 10%);
$buttonBackground: #8ab0bb;

$linkColor: lighten($dark, 5%);
$linkHoverColor: darken($dark, 5%);
$linkActiveColor: $orange;

///////////////////
// Imports
///////////////////

@import 'boilerplate';
@import 'grid';
@import 'fonts';
@import 'mixins';
@import 'third-party';
  @import 'vendor/picker/default';
  @import 'vendor/picker/default.date';
  @import 'vendor/picker/default.time';

body {
  background: $lightTan;
  font-family: $defaultFont;
  font-size:14px;
  text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
}

// that annoying, non-semantic, sticker-footer stuff
html, body {height: 100%;}
#wrap {min-height: 100%;}
#main {
  overflow:auto;
  padding-bottom: 35px;
}

input, em, .btn {
  font-family: $defaultFont;
  font-style:normal;
}

textarea {
  font-family: $defaultFont;
}

a {
  text-decoration: none;
}

#screen a:active {position:relative; top:1px;}

h1, h2, h3, h4, h5, h6 {
  font-family: $defaultHeaderFont;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

*:focus, {
  outline: none;
}


///////////////////
// PAGE: LOGIN
///////////////////

#login {
  background: url('../img/big-blur.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .logo {
    color: rgba(0,0,0,.3);
    font-family: "StatamicIcons";
    font-size: 80px;
    margin-bottom:25px;
    padding-top: 100px;
    text-align: center;
  }
  #login-wrapper {
    width:280px;
    margin: 0 auto;
  }
  #login-form {
    @include border-radius(4px);
    @include gradient(#fff, lighten($lightTan, 15%));
    box-shadow:0px 0px 15px rgba(0,0,0,.2);
    z-index:10;
    form {
      padding:25px;
    }
    .text {
      @extend .well;
      outline: none;
      font-size:16px !important;
      width:100%;
      border: 1px solid rgba(0,0,0,.5);

    }
    .login-row {
      display:block;
      margin-bottom:25px;
      width:100%;
    }
    .submit-row {
      display:block;
      width:100%;
      input {
        margin: 0;
        width: 100%;
      }
    }
    input::-webkit-input-placeholder,
    input:-moz-placeholder {color:#aaa; font-weight:normal;}
    input:focus::-webkit-input-placeholder {color:#ddd; font-weight:normal;}
    input:focus:-moz-placeholder {color:#ddd; font-weight:normal;}
  }

  #form-errors {
    text-align:center;
    position:absolute;
    top:50%;
    left:50%;
    height:280px;
    width:360px;
    margin-top:-180px;
    margin-left:-180px;
    font-family: $defaultFont;
    font-size:20px;
  }
}

#disabled-control-panel {
  @extend #login-form;
  margin-top:-60px !important;
  height:120px !important;
}

#control-bar {
  background: darken($dark, 20%);
  display:block;
  position:relative;
  height: 52px;
  overflow: hidden;
  width:100%;
  z-index:10;
  ul {
    list-style:none;
    padding:0;
    margin:0;
  }
  li {
    float:left;
    font-family: $defaultFont;
    font-size:16px;
    line-height:24px;
    margin:0;
    padding:0;
    text-indent:none;
  }

  a {
    color: lighten($dark, 5%);
    display:block;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 20px;
    padding: 0px 15px;
    line-height: 50px;
    text-decoration:none;
    position:relative;

    &:hover {
      color: #fff;
    }

    &.active {
      color: #fff;
      &:before, &:after {
        content:"";
        display:block;
        width: 6px;
        height: 0px;
        position:absolute;
        bottom:0;
        left:60%;
        margin-left:-8px;
      }
      &:after {
        width:0;
        height:0;
        border: 6px solid transparent;
        border-bottom-color: $lightTan;
      }
      &:before {
        background: $lightTan;
      }
    }
  }

  #statamic-logo a {
    font-family: $defaultHeaderFont;
    background: darken($dark, 23%);
    color: #fff;
    border-right: 1px solid rgba(255,255,255,.1);
    margin-right: 15px;
    top: 1px;
    position: relative;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 700;
    font-size: 21px;
    text-transform: none;
  }

  .ss-icon {
    font-size: 18px;
    line-height: 50px;
    position: relative;
    bottom: -.2em;
    margin-right: 5px;
  }

  .avatar {
    margin: 12px 10px 0 0;
    float: left;
  }

  .secondary-controls {
    a {
      margin-right: 0 !important;
    }
  }

}

#screen, .section {
  @extend .clearfix;
  @include border-radius(3px);
  border: 1px solid darken($lightTan, 10%);
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  background: #fff;
  margin: 30px 0;
}

.content {
  padding: 35px 35px 20px;
}

.section-header {
  @extend .clearfix;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

#status-bar {
  @include border-radius(2px);
  @extend .section;
  margin: 30px 0;
  color: $textColor;
  font-size: 14px;
  padding:0 0 0 30px;
  position: relative;
  height:50px;
  line-height:50px;
  overflow:hidden;
  .status-block {
    float: left;
  }
  ul {
    @include reset-list;
    @extend .clearfix;
    float: right;
    li {
      float: left;
      border-left: 1px solid $borderColor;
    }
  }

  a {
    color: #aaa;
    display: block;
    padding: 0px 25px 0 20px;
    text-decoration: none;
    &:hover {
      color: $linkHoverColor;
    }
  }

  .folder {
    font-weight: bold;
  }

  .ss-icon {
    top: 2px;
    margin-right: 5px;
    position: relative;
  }

  [class*="value-"]:before {
    font-family: "SSPika";
    content: "record";
    font-size: 8px;
    margin-right: 10px;
  }
  .value-Live:before {
    color: green;
  }
  .value-Draft:before {
    color: #aaa;
  }
  .value-Hidden:before {
    color: $red;;
  }

  label {
    display: none;
  }

  .input-select-wrap {
    display:block;
    position:relative;
  }
  select {

    position:relative;
    height:50px;
    width:120px;
    font-size:12px;
    opacity:0;
    appearance:none;
    -khtml-appearance:none;
    -webkit-appearance: none;
    &:hover {cursor:pointer;}
  }
  span.select{
    @include border-box;
    position:absolute;
    top:0;
    left:0;
    color: #aaa;
    background: transparent url('../img/down-arrow.png') 95px center no-repeat;
    font-size: 14px;
    padding: 0 15px;
    line-height: 50px;
    width:100%;
    cursor:pointer;
    z-index:1;
  }

}

.error-block {
  @include border-radius(4px);
  @include gradient(#fff, lighten($lightTan, 15%));
  box-shadow:0px 0px 15px rgba(0,0,0,.2);
  z-index:10;
  padding:25px;
  width: 400px;
  margin: 100px auto 0 auto;
  p {
    line-height: 1.5;
  }
  .btn {
    margin: 0;
  }
}

.member-block {
  position: relative;
  .confirm {
    position: absolute;
    top: 30px;
    right: 20px;
    opacity: .3;
    &:hover {
      opacity: 1;
    }
  }
}


.btn {
  @include border-radius(2px);
  @include gradient($buttonBackground, darken($buttonBackground, 5%));
  border: 1px solid darken($buttonBackground, 10%);
  color:#fff;
  display:inline-block;
  font-size:16px;
  font-weight: 500;
  margin-bottom:25px;
  padding:8px 25px;
  text-decoration:none;
  text-shadow:0px 1px 0px rgba(0,0,0,.4);
  &:hover {
    @include gradient(darken($buttonBackground, 5%), darken($buttonBackground, 15%));
  }
  .ss-icon {
    margin-left: -12px;
    padding-right: 5px;
    position: relative;
    top: 2px;
  }
}

.btn-small {
  @include border-radius(4px);
  padding: 4px 10px;
  font-size: 14px;
  margin-bottom: 0;
}

.btn-icon .icon, .ss-icon {margin-right:5px;}

.alert {
  color: #a73c3c;

  &:before {
    content: "c";
    font-size: 3em;
    line-height: 0.2;
    vertical-align: -0.15em;
    font-family: Entypo;
    margin-right: 0.1em;
  }
}

.block {
  @extend .clearfix;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 15px 35px;

  a {
    color: $textColor;
    text-decoration: none;
    &:hover {
      color: $linkHoverColor;
    }
  }

  .avatar {
    float: left;
    padding-right: 15px;
    display: block;
    height: 42px;
    width: 42px;
  }

  .member-name {
    display: block;
    font-weight: 600;
    font-size: 16px;
  }

  &:hover {
    background: $inputBackground;
  }
  &:last-child {
    border-bottom: none;
  }

}

.entry-block {
  position: relative;
  h4 {
    font-weight: 400;
  }

}

.status .ss-icon {font-size: 8px;}
.status-live .ss-icon, .status-good .ss-icon {color:green;}
.status-draft .ss-icon {color:#aaa;}
.status-hidden .ss-icon, .status-warning .ss-icon {color:$red;}

.simple-table {
  color: $textColor;
  text-align:left;
  width: 100%;

  td, th {
    &:first-child {
      border-left: none !important;
      padding-left: 35px;
    }
    &:last-child {
      border-right: none !important;
      padding-right: 35px;
    }
  }

  th.checkbox-col, td.checkbox-col {
    padding: 10px 0px 10px 20px;
    width: 20px;
  }

  thead th {
    padding: 10px;
    border-bottom: 2px solid $borderColor;
  }

  a {
    color: $linkColor;
    text-decoration: none;
  }

  td {
    border-bottom: 1px solid $borderColor;
    padding: 10px;
    line-height: 28px;
  }

  .title {
    font-size: 16px;
  }

  .align-right {
    text-align: right;
  }

  tr:hover {
    td {
      background: $inputBackground;
    }
  }

  .ss-directup, .ss-dropdown {
    @include gradient(#fff, $lightTan);
    border-right: 1px solid $borderColor;
    border-left: 1px solid $borderColor;
  }

  .ss-directup:before, .ss-directup.right:after,
  .ss-dropdown:before, .ss-dropdown.right:after {
    float: right;
  }
  .headerSortUp, .headerSortDown {
    @include gradient(#fff, $lightTan);
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
  }
  .headerSortUp .header-inner {background:transparent url('../img/up-arrow.png') right center no-repeat;}
  .headerSortDown .header-inner {background:transparent url('../img/down-arrow.png') right center no-repeat;}
}


.table-list {
  background:#fff;
  border:1px solid $borderColor;
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  text-align:left;
  width:100%;
  > thead th {
    @include gradient(#fff, #fafafa);
    padding:15px;
    border-bottom:1px solid $borderColor;
    border-right:1px solid $borderColor;
    font-size:21px;
    font-family: $defaultHeaderFont;
    font-weight:normal;
    &:last-child {border-right:none;}
  }
  td {
    padding:10px 15px;
    border-bottom:1px solid #ddd;
    border-right:1px solid #eee;
    &:last-child {border-right:none;}
  }
  tbody th {
    // border-style:solid;
  }
  tr:first-child td {border-top:none;}
  .title a {
    color:$textColor;
    font-family: $defaultFont;
    font-size:16px;
    line-height:18px;
    text-decoration:none;
    &:hover {color:$red}
  }
  .page-view {
    float:none;
    a {
      text-decoration:none;
      &:hover {color:$textColor;}
    }
    .icon, .ss-icon {
      margin-right:0;
      padding:0 5px;
    }
  }
  .action {
    text-align:center;
    padding:10px 15px;
    a {
      color:$textColor;
      display:block;
      opacity:.5;
      text-decoration:none;
      &:hover {opacity:1;}
      .icon, .ss-icon {
        text-align:center;
        margin-right:0;
      }
    }
  }
  .tablesorter-headerSortUp, .tablesorter-headerSortDown {@include gradient(#fafafa, #eee);}
  .tablesorter-headerSortUp .tablesorter-header-inner {background:transparent url('../img/up-arrow.png') right center no-repeat;}
  .tablesorter-headerSortDown .tablesorter-header-inner {background:transparent url('../img/down-arrow.png') right center no-repeat;}
}

.table-security {
  thead th:first-child {
    width:30%;
  }
  thead th:last-child {
    width:100px;
  }

  .ss-icon {
    font-size: 16px;
    margin-left: 5px;
  }

}

.small-screen-log {
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 50px;

  li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0 0 1em;
  }

  strong.level {
    margin: -1em -0.8em 0.85em;
    background-color: #ccc;
    display: block;
    padding: 0.4em 0.8em;

    &.level-fatal,
    &.level-error {
      color: #fff;
      background-color: #a73c3c;
    }

    &.level-warn {
      color: #6e6e48;
      background-color: #f4eb9d;
    }

    &.level-info {
      background-color: #c6e3f1;
      color: #415965;
    }

    &.level-debug {
      color: #555;
      background-color: #ddd;
    }
  }

  h6 {
    margin: 0.75em -0.25em 0;
    padding: 0.75em 0.25em 0;
    border-top: 1px solid #eee;
    font-size: 0.95em;
  }

  p {
    margin: 0;
    font-size: 1.2em;
  }
}

.log-controls {
  overflow: hidden;
  padding-bottom: 1em;

  p {
    margin: -0.5em 0 1.5em;
    padding: 0.25em 0;
    line-height: 1.8;
  }
  span {
    white-space: nowrap;
    display: block;
    float: left;
    margin-right: 0.35em;
  }
}

table.log {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 1.1em;
  border-right: 1px solid #ddd;

  thead th {
    text-align: left;
    font-size: 1.1em;
    border-right: 1px solid $borderColor;
    padding: 4px 12px;
    @include gradient(#fff, #fafafa);
    border-bottom:1px solid $borderColor;
    border-right:1px solid $borderColor;
    font-family: $defaultFont;
    font-weight:normal;
    white-space: nowrap;
    cursor: pointer;

    &.level {
      text-align: center;
    }

    &.what,
    &.when {
      text-align: center;
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  tbody th {
    font-weight: normal;
    padding: 6px 12px 6px 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
    width: 5%;
    vertical-align: top;

    &.level-fatal,
    &.level-error {
      color: #fff;
      background-color: #a73c3c;
      border-top-color: #872c2c;
      border-bottom-color: #872c2c;
    }

    &.level-warn {
      color: #6e6e48;
      background-color: #f4eb9d;
      border-top-color: #bfbe4b;
      border-bottom-color: #bfbe4b;
    }

    &.level-info {
      background-color: #c6e3f1;
      border-top-color: #83a6b7;
      border-bottom-color: #83a6b7;
      color: #415965;
    }

    &.level-debug {
      color: #555;
      background-color: #ddd;
      border-top-color: #bbb;
      border-bottom-color: #bbb;
    }
  }

  tbody td {
    padding: 6px 10px 6px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
    vertical-align: top;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    &:last-child {
      border-right: none;
    }

    &.what {
      white-space: nowrap;
      text-align: right;
      width: 2%;
      padding-right: 3px;
      border-right: 1px solid transparent !important;
    }
    &.specifically {
      width: 2%;
      padding-left: 3px;
    }
    &.when {
      width: 2%;
      text-align: right;
    }
    &.colon {
      text-align: center;
      padding: 6px 0 4px;
      border-left: 1px solid transparent !important;
      border-right: 1px solid transparent !important;
    }
    p {
      margin: 1em 0 0;

      &:first-child {
        margin-top: 0;
      }

      code {
        font-size: 0.85em;
        border: 1px solid rgba(0, 0, 0, 0.15);
        padding: 0.1em 0.25em;
        background-color: rgba(255, 255, 255, 0.8);
        white-space: nowrap;
      }
    }
  }

  tbody tr:last-child td {
    border:none;
  }

  tbody tr.level-fatal td,
  tbody tr.level-error td {
    background-color: #fbeaeb;
    border-top-color: #f1c7c8;
    border-bottom-color: #f1c7c8;
    color: #703739;
    border-left-color: #f3d9da;
    border-right-color: #f3d9da;
  }

  tbody tr.level-warn td {
    color: #6e6e48;
    background-color: #fafade;
    border-left-color: #e9e9d0;
    border-right-color: #e9e9d0;
    border-top-color: #ebea95;
    border-bottom-color: #ebea95;
    &:last-child {
      border-right-color: transparent;
    }
  }

  tbody tr.level-info td {
    color: #506b78;
    background-color: #e4f4fc;
    border-left-color: #cfe3ee;
    border-right-color: #cfe3ee;
    border-top-color: #c7e5f5;
    border-bottom-color: #c7e5f5;
  }

  tbody tr.level-debug td {
    color: #555;
    background-color: #f3f3f3;
    border-left-color: #ddd;
    border-right-color: #ddd;
  }
}

.log {
  .when {
    white-space: nowrap;
  }
}

.small-screen-log li h5 span:before {
  vertical-align: -0.1em;
}

.well {
  @include border-radius(2px);
  @include border-box;
  background: $inputBackground;
  border:1px solid rgba(0,0,0,.15);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
  display: block;
  font-size: 18px;
  padding: 10px;
  width:100%;
}


.input-block {
  margin-bottom:20px;
  @extend .clearfix;
  label {
    color:$textColor;
    display:inline-block;
    padding:5px 0;
    font-size:14px;
  }
  .instructions,
  small {
    font-family: $defaultFont;
    color:#999;
    padding-bottom:3px;
    font-size: 0.95em;
    margin-top: 0.25em;
    display: block;
    &:hover {color:#333;}
  }
}

.required label, .required li {color:$red;}


#publish-submit {margin-bottom: 50px;}

.input-text, .input-date, .input-time {
  input {
    @extend .well;
  }
}

.input-section {
  margin: 50px -35px 25px;
  padding: 10px 35px;
  border-top: 3px double $borderColor;
  border-bottom: 1px solid lighten($borderColor, 5%);
  label {
    font-family: $defaultHeaderFont;
    font-size: 28px;
    padding: 0;
  }
}

#publish-title {
  @include border-box;
  font-family: $defaultHeaderFont;
  background: #fff;
  border: none;
  box-shadow: none;
  border-bottom: 1px dashed rgba(0,0,0,.15);
  margin-bottom: 25px;
  font-size: 36px;
  padding: 10px;
  width:100%;
  font-weight: 400;
  &:hover {
    background: lighten($inputBackground, 3%);
  }
}

.input-select, .input-status, .input-templates, .input-users, .cell-users, .cell-templates, .cell-select {
  .input-select-wrap {
    display:block;
    position:relative;
  }
  select {
    position:relative;
    z-index:10;
    height:55px;
    width:100%;
    font-size:12px;
    &:hover {cursor:pointer;}
  }
  span.select{
    @include border-radius(2px);
    @include border-box;
    position:absolute;
    top:0;
    left:0;
    background: $inputBackground url('../img/down-arrow.png') 98% center no-repeat;
    border:1px solid rgba(0,0,0,.15);
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
    font-size: 18px;
    padding: 10px;
    width:100%;
    cursor:pointer;
    // z-index:1;

  }
}

.block-action {
  margin-right: 25px;
  position: relative;
  top: -1px;
  select {
    width: 200px;
  }
  span.select {
    @include border-radius(2px);
    background: #fff url('../img/down-arrow.png') 175px center no-repeat;
    color : $textColor;
    padding: 8px;
    font-size: 16px;
    width: 200px;
  }
  &.disabled span.select {
    opacity: .5;
  }
}


.input-radio {
  input {
    float:left;
    line-height:20px;
    vertical-align:middle;
    position:relative;
    top:7px;
    margin-right:7px;
  }
  .radio-block label {
    text-transform:none;
    font-size:16px;
    vertical-align:middle;
    line-height:20px;
  }
}

.input-checkbox {
  input {
    float: left;
    line-height:20px;
    vertical-align:middle;
    position:relative;
    top:7px;
    margin-right:7px;
    font-size: 16px;
  }
  label,
  small {
    display: none;
  }
  .checkbox-block {
    label, small {
      display: block;
    }
    label {
      line-height: 16px;
      font-size:16px;
      vertical-align:middle;
      line-height:20px;
    }
  }
}

.input-color {
    label {
        display: block;
    }
}

.input-textarea, .input-markitup {
  border-bottom:1px solid #fff;
  textarea {
    background: $inputBackground;
    border:1px solid rgba(0,0,0,.15);
    box-shadow: inset 0px 1px 4px rgba(0,0,0,.1);
    font-family: $defaultFont;
    font-size:15px;
    line-height:24px;
    padding:1%;
    height:400px;
    width:98%;
  }
}

code textarea {
  font-family: monospace, serif !important;
  font-size: 14px !important;
  line-height: 18px;
}

.input-date, .input-time {
  position:relative;
  z-index:1;

  .ss-icon {
    right:1%;
    top:42px;
    opacity:.5;
    position:absolute;
    z-index:2;
  }
  &:hover .ss-icon {opacity:1;}
}

.timepicker {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.input-hidden {
  display:none;
}

.file-field-container {
  @extend .clearfix;
  @include border-radius(3px);
  @include border-box;
  background: $inputBackground;
  position: relative;
  display: block;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
  padding: 0;
  width: 100%;
  input {
    line-height: 16px;
  }

  .file-exists {

  }

  img {
    float:left;
    max-height:50px;
    max-width:50%;
  }
  p {
    margin:0 0 0 10px;
    float:left;
    line-height:50px;
  }
  .btn {
    float:right;
    font-size: 14px;
    margin:10px 10px 0 0;
    line-height:25px;
    padding:2px 15px;
  }
}

.count-placeholder {
  @extend .muted;
  padding: 5px 0;
  font-style: italic;
}


// THE ALMIGHTY GRID
.grid {
  > thead th {
    @include gradient(#fff, $inputBackground);
    padding: 8px 10px;
    font-size: 16px;
  }

  tbody tr td {padding:10px;}
  tbody label {display:none; text-transform: none}
  tbody input + label {
    display: inline-block;
    margin-left: 5px;
  }
  .cell-text input, .cell-date input, .cell-time input {
    @include border-radius(0);
    @include border-box;
    border:1px solid rgba(0,0,0,.15);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
    padding:.5em 10px;
    width:100%;
  }
  .cell-date, .cell-time {
    position:relative;
    .icon, .ss-icon {
      right:3%;
      font-size: 18px !important;
      line-height: 36px;
      opacity:.5;
      position:absolute;
      z-index:2;
    }
    &:hover .icon, :hover .ss-icon {opacity:1;}
  }
  .cell-textarea textarea, .cell-markitup textarea {
    @include border-box;
    border:1px solid rgba(0,0,0,.15);
    box-shadow: inset 0px 1px 2px rgba(0,0,0,.1);
    padding:.5em 10px;
    min-height:50px;
    width:100%;
  }
  .grid-delete-row {
    display: none;
    vertical-align: middle;
    font-size:14px !important;
    text-align:center;
    text-decoration: none;
    color:#ddd;
    &:hover {
      color: $linkColor;
    }
    .ss-icon {
      margin: 0;
      font-size:14px !important;
    }
  }
  .row-count {
    color:#ddd;
    text-shadow:0px 1px 0px #fff;
    font-family: $defaultFont;
    font-size:24px;
    font-weight:lighter;
    padding:2px !important;
    text-align:center;
    width:20px;
    cursor: move; cursor: -webkit-grab; cursor: -moz-grab;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    &:hover {
      .grid-delete-row {
        display: block;
      }
      .count {
        display: none;
      }
    }
  }
  .drag-indicator:active {
    @include gradient(#fafafa, #efefef);
  }
  .ui-sortable-helper {
    box-shadow:0px 5px 10px rgba(0,0,0,.1);
    border-top:1px solid #ddd;
  }
  .drag-placeholder td {
    background:#fcfcfc;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    box-shadow:inset 0 2px 3px rgba(0,0,0,.1);
  }
  td {background:#fff;}
  .action-col {width:30px;}
  .action {padding:0;}
  th {
    position: relative;
  }

  .cell-grid {
    padding:0;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    table.grid {border:none;}
    thead th {
      background:#fff;
      color:#555;
      font-size:14px;
      padding:5px;
      font-family: $defaultFont;
      text-transform:uppercase;
      text-shadow:0px 1px 0px #fff;
    }
    .grid-add-row {
      @include border-box;
      @include border-radius(0);
      @include gradient(#fff, $lightTan);
      display:block;
      width:100%;
      margin:0;
      border: none;
      box-shadow: none;
      color:#555;
      font-size:15px;
      box-shadow:none;
      line-height:18px;
      height:22px;
      padding:5px;
      .icon, .ss-icon {
        color:#999;
        font-size:12px;
        line-height: 18px;
        text-shadow: 0px 1px 0px #fff;
        display: block;
        top:0px;
        position: relative;
        line-height:18px;
      }
      &:hover {
        // @include gradient(#f4f4f4, #e9e9e9);
        .icon, .ss-icon {
          color:#777;
        }
      }
    }
    th.row-count {font-size:18px;}
    .action .icon, .ss-icon {font-size:26px; opacity:.6}
  }
}
.grid-add-row {
  margin-top:15px;
  text-align: center;
  .ss-icon {
    margin: 0;
    padding: 0;
  }
}

#page-tree {
  @extend .clearfix;
  font-family: $defaultFont;
  list-style:none;
  padding:0;
  margin-top:0;
  .page-wrapper {
    @extend .clearfix;
    @include border-radius(3px);
    @include border-box;
    @include gradient(#fff, lighten($lightTan, 5%));
    border: 1px solid darken($lightTan, 10%);
    box-shadow: 0 1px 1px darken($lightTan, 5%);
    clear:both;
    font-size:15px;
    position:relative;
    float:left;
    width:100%;
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent:10px;
    line-height: 50px;
    text-shadow:0px 1px 0px #fff;
    z-index:5;
  }
  .ss-icon {
    position: relative;
    bottom: -2px;
  }
  .page-primary {
    float:left;
  }
  .page-extras {
    float:right;
    text-align:right;
    a {
      line-height: 50px;
      text-indent:0;
    }
  }
  .slug-preview {
    color:#aaa;
    float: right;
    height: 50px;
    font-size: 13px;
    padding-right: 15px;
    line-height: 50px;
  }
  ul.subpages {
    @include border-box;
    margin: 6px 0 0px 0px;
    float:left;
    width:100%;
    padding:0 0 0 50px;
    list-style:none;
    li.page:last-child {
      margin-bottom: 0;
    }
  }
  li.page {
    float:left;
    margin-bottom:5px;
    width:100%;
    &:last-child {margin-bottom:25px;}
  }

  .page-title {
    color:$textColor;
    height: 50px;
    padding: 0 10px;
    &:hover {color:$linkColor}
  }

  a {
    text-decoration:none;
  }

  .control-entries {
    display:inline-block;
    margin-left:10px;
    a {
      color:$linkColor;
      font-size:14px;
      &:hover {color:$linkHoverColor}
    }
    .muted {
      font-size:14px;
    }
  }
  .page-view a, .page-add a, .page-delete a {
    border-left: 1px solid rgba(0,0,0,.1);
    padding:0 10px;
    &:hover {
      color:$textColor;
    }
  }
}

.page-view, .page-add, .page-delete {
  a {
    color:#ccc;
    display:block;
    &:active {
      position:inherit !important;
      top:0;
    }
  }
  .icon, .ss-icon {
    margin-right:0;
    padding:0 5px;
  }
  float:right;
}

.panel {
  @include border-radius(2px);
  background:#fff;
  border-top:10px solid $textColor;
  box-shadow:0px 0px 15px rgba(0,0,0,.2);
  padding:10px 30px;
  margin:25px 0 50px;
  ul {
    margin:0 0 25px;
  }
  ul a, p a {
    color:$red;
    border-bottom:1px dotted #ccc;
    text-decoration:none;
    &:hover {color:#000;}
  }
}

#fieldset-modal,
#location-modal,
#address-modal {
  border: 1px solid rgba(0,0,0,.1);
  margin-left: -180px;
  width: 360px;
  .modal-header {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background: #fff url('../img/topo.png');
    h3 {
      font-weight: 700;
    }

  }
  .modal-body {padding:0;}
  .modal-footer {
    color:$textColor;
    text-align:left;
  }
  ul {
    list-style:none;
    margin:0;
    padding:10px 0;
    li {
      padding:0;
      margin:0;
    }
    a {
      color:$textColor;
      display:block;
      text-decoration:none;
      font-size:16px;
      padding:5px 20px;
      &:hover {
        background:#eee;
        color:#222;
      }
    }
  }
}

#location-modal {
  .modal-footer {
    padding: 0.5em 0 0.5em;
    height: 1em;
  }
}

#address-modal {
  form {
    padding: 0 1em;

    label {
      padding-bottom: 0.4em;
      display: inline-block;
    }

    input {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px solid #ddd;
      font-size: 1.25em;
    }

    input[type="text"] {
      width: 73%;
      margin-right: 0.15em;
      padding: 0.1em 0.25em;
    }

    input[type="submit"] {
      background-color: #f3f3f3;
      padding: 0.1em 0.6em;
      margin-bottom: -1px;
      float: right;
    }

    small {
      display: block;
      clear: both;
      padding-top: 0.75em;
      font-style: italic;
      color: #999;
    }
  }
}

.lifted {
  box-shadow: 0px 1px 10px rgba(0,0,0,.2);
}

.topo {background:#fff url('../img/topo.png');}
.btn.full-width {display:block; text-align:center;}

#subnav {
  @extend .clearfix;
  border-bottom: 1px solid $borderColor;
  overflow: hidden;
  height: 50px;
  ul {
    padding: 0 0 0 30px;
    list-style: none;
    margin: 0 0 25px 0;
  }
  li {
    padding: 15px 0;
    float: left;
    margin-right: 25px;
  }
  li.separator {
    border-right: 1px solid $borderColor;
  }
  a {
    color: $linkColor;
    display: block;
    text-decoration: none;
    &.active {
      color: $linkActiveColor;
    }
  }
}

#footer {
  @include border-box;
  background: darken($dark, 20%);
  bottom:0;
  padding: 0 60px;
  color:#aaa;
  font-size:12px;
  font-family: $defaultFont;
  line-height:50px;
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear:both;
  width:100%;
  overflow: hidden;

  a {
    color:#fff;
    font-size:12px;
    padding:0 2px;
    text-decoration:none;
    &:hover {color:$yellow;}
  }
}

#version-check {font-size:11px; color:#555; padding-left:5px;}
#version-check a {color:$yellow;}

.pages-dropdown-menu {
  top: -3px;
  left:235px;
  border-radius:3px;
  a {
    text-decoration:none;
    &:hover {
      background:$textColor;
    }
  }
  .header {
    display: block;
    padding: 5px 20px 0;
    clear: both;
    font-family: $defaultFont;
    font-size:18px;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
  }
  &::before {
    position: absolute;
    left: -7px;
    top: 20px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-right: 7px solid #aaa;
    border-bottom: 7px solid transparent;
    border-left-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
  &::after {
    position: absolute;
    left: -6px;
    top: 21px;
    display: inline-block;
    border-top: 6px solid transparent;
    border-right: 6px solid #ffffff;
    border-bottom: 6px solid transparent;
    content: '';
  }
}

#flash-message {
  @include border-radius(2px);
  background: #fff;
  background: rgba($blue, .8);
  color: #fff;
  padding: 10px;
  width: 400px;
  top: 75px;
  position: absolute;
  margin:0 0 0 -200px;
  left:50%;
  float: left;
  z-index:1050;
  // overflow:auto;
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding-box;
  background-clip:padding-box;
}


.warning {color:$red}
.muted, .subtle {color:#aaa;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background:#5e5c49 url(../img/topo-bigger-white.png);}.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.7;filter:alpha(opacity=70);}
.center {text-align:center;}
.push-down {margin-top:25px;}
.pull-left {float: left;}
.pull-right {float: right;}
.take-action {
  margin-bottom: 35px !important;
}

@import 'responsive';

// location
// ----------------------------------------------------------------------------

.input-location {
  overflow: hidden;

  & > label {
    float: left;
  }

  .map {
    -webkit-transition-property: height;
    -moz-transition-property: height;
    transition-property: height;
    -webkit-transition-property: width;
    -moz-transition-property: width;
    transition-property: width;
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
    transition: 0.35s ease;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 48%;
    clear: left;
    float: left;
    height: 20em;
    border: 1px solid #ccc;
  }

  .entry {
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    transition: width 0.35s ease;
    float: right;
    width: 48%;
  }

  .latitude,
  .longitude {
    width: 48%;
    float: left;
    margin-right: 4%;
    margin-top: 0;

    input {
      font-size: 1.5em;
    }
  }

  .longitude {
    margin-right: 0;
  }

  label {
    display: block;
  }

  input {
    clear: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2em;
    padding: 0.15em 6px 0.12em;
    @extend .well;
  }

  .coordinates {
    overflow: hidden;
    margin-top: 0;
  }

  .name p {
    margin-top: 0.2em;
  }

  .name input {
    font-size: 2em;
  }

  .helpers {
    border-top: 1px solid #e1e1e1;
    padding-top: 0.6em;
    margin-top: 0.4em;
  }

  .helpers section {
    width: 48%;
    float: left;
    &:last-child {
      float: right;
    }
  }


  .helpers ul {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    overflow: hidden;

    li {
      white-space: nowrap;
      margin: 0 0 15px;
      display: block;

      &:before {
        font-family: SSPika;
        font-size: 18px;
        color: #aaa;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        line-height: 24px;
        margin-top: 0em;
        margin-right: 5px;
        width: 20px;
        height: 24px;
        display: block;
        float: left;
        text-align: center;
      }

      a {
        white-space: nowrap;
        display: inline-block;
        padding-left: 1.8em;
        margin-left: -1.8em;
      }


      a.disabled {
        opacity: 0.3;
      }

      &.use-my-location:before {
        content: "crosshair";
      }
      &.common-locations:before {
        content: "star";
      }
      &.locate-address:before {
        content: "location";
      }
      &.remove-marker:before {
        content: "delete";
      }

      .spinner {
        display: inline-block;
        margin-left: 2em;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    .map {
      height: 26em;
    }
  }

  @media screen and (max-width: 830px) {
    .map {
      width: 38%
    }
    .entry {
      width: 58%;
    }
  }

  @media screen and (max-width: 630px) {
    .map {
      float: none;
      width: 100%;
      margin: 0 0 1em;
    }

    .entry {
      float: none;
      width: 100%;
    }

    .helpers p {
      padding-top: 0;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 440px) {
    .map {
      height: 12em;
    }
  }
}


