//  =============================================================================
//  8888888 888b     d888 8888888b.   .d88888b.  8888888b. 88888888888 .d8888b.
//    888   8888b   d8888 888   Y88b d88P" "Y88b 888   Y88b    888    d88P  Y88b
//    888   88888b.d88888 888    888 888     888 888    888    888    Y88b.
//    888   888Y88888P888 888   d88P 888     888 888   d88P    888     "Y888b.
//    888   888 Y888P 888 8888888P"  888     888 8888888P"     888        "Y88b.
//    888   888  Y8P  888 888        888     888 888 T88b      888          "888
//    888   888   "   888 888        Y88b. .d88P 888  T88b     888    Y88b  d88P
//  8888888 888       888 888         "Y88888P"  888   T88b    888     "Y8888P"
//  =============================================================================

    @import "compass";
    @import "compass/reset";
    @import "normalize";
    @import "foundation.scss";

    @import "includes/variables";
    @import "includes/mixins";

    @import "webfonts.scss";

    //@import url(http://weloveiconfonts.com/api/?family=entypo);

    /* entypo */
    // [class*="entypo-"]:before {
    //   font-family: 'entypo', sans-serif;
    // }


//  =============================================================================
//  888888b.         d8888  .d8888b.  8888888888
//  888  "88b       d88888 d88P  Y88b 888
//  888  .88P      d88P888 Y88b.      888
//  8888888K.     d88P 888  "Y888b.   8888888
//  888  "Y88b   d88P  888     "Y88b. 888
//  888    888  d88P   888       "888 888
//  888   d88P d8888888888 Y88b  d88P 888
//  8888888P" d88P     888  "Y8888P"  8888888888
//  =============================================================================

    * {
      @include box-sizing(border-box);
      -webkit-font-smoothing: subpixel-antialiased;
    }

    .body {
      -webkit-transform: translate3d(0,0,0);
      @media (max-width: 480) {
        padding: 0 15px;
      }
    }


    img {
      max-width: 100%;
    }

    .container {
      @include grid-row();
    }

    .button {
      font-family: $proxima, sans-serif;
    }


// Typography
// -------------------------

    body, p {
      font-family: $rooney;
      font-size: 16px;
      line-height: 1.45;
      @media (min-width: $large) {
        font-size: 1.5em;
      }
    }

    h1, h2 {
      font-family: $proxima;
    }

    h3, h4, h5, h6 {
      font-family: $rooney;
    }

// Links
// -------------------------

    a {
      color: $green;
      &:hover {
        color: lighten($green, 10%);
      }
    }


//  =============================================================================
//  888b     d888  .d88888b.  8888888b.  888     888 888      8888888888 .d8888b.
//  8888b   d8888 d88P" "Y88b 888  "Y88b 888     888 888      888       d88P  Y88b
//  88888b.d88888 888     888 888    888 888     888 888      888       Y88b.
//  888Y88888P888 888     888 888    888 888     888 888      8888888    "Y888b.
//  888 Y888P 888 888     888 888    888 888     888 888      888           "Y88b.
//  888  Y8P  888 888     888 888    888 888     888 888      888             "888
//  888   "   888 Y88b. .d88P 888  .d88P Y88b. .d88P 888      888       Y88b  d88P
//  888       888  "Y88888P"  8888888P"   "Y88888P"  88888888 8888888888 "Y8888P"
//  =============================================================================


// Snipe Header 
// ========================

.snipe {
  height: 40px;
  background-color: #2b2b2b;
  width: 100%;

  @media (max-width: $mobile){
    display: none;
  }
  .snipe-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 1px;
    
    p {
      margin: 8px 0;
      color: $ltgray;
      font-weight: $plight;
      font-family: $proxima;
      float: right;
      a {
        text-decoration: underline;
        color: $mint;
        font-weight: normal;
        font-family: $pbold;

        &:hover {
          color: lighten($mint, 20%);
        }
      }
    }
  }
}







// Site Header
// -------------------------

    #banner {
      opacity: 1;
      width: 90%;
      margin: 0 auto;
      padding: 2em 0 0;
      position: relative;
      z-index: 9999;
      @media (max-width: $mobile) {
        position: relative;
        z-index: 2;
        padding: 1.8em 0 0;
      }
     
      .branding {
        display: inline-block;
        overflow: hidden;
        opacity: 0.8;
        min-width: 445px;
        width: 35%;

        &:hover {
          opacity: 1;
        }

        @media (max-width: $mobile) {
          width: auto;
          max-width: 255px;
          min-width: 0;
        }
        @media (min-width: $mobile) and (max-width: 960px){
          max-width: 390px;
          min-width: 275px;
        }
      }

      #main-nav {
        float: right;
        padding-top: 1.5em;
        position: relative;
        width: auto;
        z-index: 9999;
        @media (min-width: $mobile) and (max-width: 860px){
          padding-top: 0.8em;
        }
        @media (min-width: 1650px){
          padding-top: 2.2em;
        }



        @media (max-width: $mobile) {
          width: auto;
          float: none;
          overflow: visible;
          position: absolute;
          padding: 0;
          top: 30px;
          right: 0;
        }


        // Responsive nav control
        .control {
          display: none;
          background: transparent;
          border-top: 3px solid $white;
          border-bottom: 3px solid $white;
          height: 15px;
          position: relative;
          width: 15px;
          z-index:5;
          top: 1.125em;

          @media (min-width: $mobile) {
            display: none;
          }

          @media (max-width: $mobile) {
            display: block;
          }

          &:after {
            background: $white;
            content: '';
            display: block;
            height: 3px;
            width: 15px;
            position: absolute;
            top: 3px;
          }
        }

        ul.main-nav {
          text-align: right;
          margin: 0;


          li {
            display: inline-block;
            margin-left: 30px;

            @media (max-width: 769px) {
              margin-left: 10px;

              &.mobile-only {
                display: block !important;
              }
            }

            &.mobile-only {
                display: none;
                clear: both;
                color: rgba(255,255,255, 0.4);
                margin-top: 5px;
                font-size: 12px;
                font-family: $proxima;
                font-weight: $plight;
                a {
                  color: rgba($white, 0.6);
                }
            }
            a {
              color: rgba($white, 0.7);
              text-decoration: none;
              font-family: $proxima;
              font-weight: $plight;
              font-size: 1.375em;

              @media (max-width: 960px) {
                font-size: 1em;
              }

              &:hover {
                color: $white;
              }
              &.current {
                color: $white;
                @include text-shadow(0 0 45px rgba($white, 1), 0 0 55px rgba($white, 1), 0 0 65px rgba($white, 1));
              }
            }
          }

          @media (max-width: $mobile) {
            background: $dkteal;
            display: block;
            padding: 15px 0 10px;
            position: fixed;
            top: -75px;
            left: 0;
            z-index: 99999;
            width: 100%;
            text-align: center;
            height: 0;
            @include transition(all 0.2s ease);
            &.open {
              top: 0;
              z-index: 2;
              height: auto;
            }
            li {
              a {
                font-size: 1em;
              }
            }
          }

        }
      }
    }





//=================================
// Content Section Styles
// ================================

    div.desc {

      h2.head {
        font-size: 2.5625em;
        font-family: $proxima;
        font-weight: $plight;
        margin-bottom: 20px;
        line-height: 1.2;
        @media (max-width: $mobile) {
          font-size: 2em;
        }
        @media (min-width: $mobile) and (max-width: $smaller-screen){
          font-size: 1.6em;
        }
      }
      p.section.desc {
        font-size: 1.25em;
        font-family: $rooney;
        font-weight: 300;
        margin-bottom: 20px;
        @media (max-width: $mobile) {
          font-size: 1em;
        }
        @media (min-width: $mobile) and (max-width: $smaller-screen){
          font-size: 0.9em;
        }
      }

      a.action {
        font-family: $rooney;
        font-weight: $rreg;

        .triangle {
          @include triangle(10px, $green, right);
          content: "";
          display: inline-block;
        }

      }
    }

//  =============================================================================
//  Sections
//  =============================================================================

    section.story {
      position: relative;
      @media (max-width: $mobile) {
        background: none !important;
      }
      .inner_bg {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

        @media (max-width: $mobile) {
          position: relative !important;
        }
      }
      .content_wrapper {
        overflow: hidden;
      }
    }

    .first {
      z-index: 1;
    }
    .second {
      z-index: 2;
    }
    .third {
      z-index: 3;
    }

// Mobile for Sections
// -------------------------

  .second, .third {
    @media (max-width: $mobile) {
      height: auto;
      margin: 0;
      padding: 25px;
      .inner_bg {
        height: auto !important;
        .content_wrapper {
          margin: 0;
          padding: 0;
          width: 100% !important;
          & > .desc {
            margin: 0 !important;
            padding: 0 !important;
            float: none !important;
            width: 100% !important;
            .desc {
              width: 100%;
            }
          }
          .image, .iphone {
            display: none;
          }
        }

      }

    }
  }


//========================//
// First Section
//========================//

#home {
  background: url('../img/HeroImage.jpg') fixed no-repeat top center;
  @include background-size(100%);
  height: 1200px;

    @media (max-width: $mobile) {
      height: auto;
      @include background-size(100%);
      @include transition(all 0.2s ease);
      &.open {
        margin-top: 50px;
      }
    }
    @media (min-width: $mobile) and (max-width: $smaller-screen){
          height: 1000px;
    }

    @media (min-width: 1500px) {
      height: 1370px;
    }

    @media (min-width: $large) {
      height: 1540px;
    }
    // @media screen and (max-width: 1024px) {
    //  height: 1300px;
    // }

    .skyline {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 1;

      @media (max-width: $mobile) {
        display: none;
      }
      img {
        position: relative;
        top: 6px;
        z-index: 1;
        width: 100%;
      }
    }



    #home_inner {
        background: url('../img/green-gradient.png') repeat-x bottom center;
        //@include background-size(20%);
        height: 1200px;
        




       @media (min-width: $large) {
          height: 1400px;
        }


        @media screen and (max-width: 1024px) {
        }



        @media (max-width: $mobile) {
          background: $white;
          padding: 0;
          height: auto;
          width: 100%;
          margin: 0;
        }



        .content_wrapper {
          width: 70%;
          z-index: 2;
          position: relative;
          overflow: visible;
          margin: 0 auto;
          padding-top: 650px;
          @include clearfix;
          @media (min-width: $large) {
            padding-top: 720px;
          }



          @media screen and (max-width: 1200px) {
            width: 90%;
          }
          @media (min-width: $mobile) and (max-width: $smaller-screen){
            padding-top: 820px;
         }

          @media (max-width: $mobile) {
            padding: 25px;
            width: 100%;
          }

          .inner_right {
            float: right;
            width: 50%;

            @media (max-width: $mobile) {
              width: 100%;
              margin-top: 20px;

              a.reveal-link {
                display: none;

              }
              div.smaller {

                iframe {
                  width: 100%;
                }
              }

              
            }

            @media (min-width: $mobile) and (max-width: 1024px) {
              width: 45%;
            }

            a {
              cursor: pointer;
            }

            img {
                @include transition(all 0.1s linear);
                width: 100%;

                &:hover {
                  @include box-shadow(0 0 55px rgba($white, 1));
                }
              }

        }
        .inner_left.desc  {
          float: left;
          width: 45%;
          margin-top: 20px;

          @media (max-width: $large) {
            margin: 0;
          }

          @media (max-width: $mobile) {
            margin: 0;
            width: 100%;
          }

          h2.head {
           color: $dkteal;
           margin: 0 0 .4em;
           @media (max-width: $mobile) {
              color: $black;
           }
          }

          .section.desc {
            color: $mdteal;
            @media (max-width: $mobile) {
               color: $black;
            }
          }

          a.action  {
            color: $dkteal;

            .triangle {
              @include triangle(10px, $dkteal, right);
              }

            &:hover {
              color: darken($dkteal, 20%);
            }
          }
        }
        }
    }
} // #home

#callout {
  opacity: 1;
  height: 110px;
  clear: both;
  margin: 0 auto;
  padding: 190px 5% 0;
  position: absolute;
  top: 140px;
  width: 100%;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 999;

  @media (max-width: $mobile) {
    background: $mint url('../img/header-mobile.png') no-repeat top center;
    @include background-size(100% auto);
    font-size: 2em;
    margin-top: -65px;
    padding: 150px 35px 35px;
    position: relative;
    height: auto;
    top: 0;
    @include text-shadow(0 2px 0 rgba($black, 0.4));
    z-index: 1;

  }
  @media (min-width: $mobile) and (max-width: $smaller-screen){
      top: 70px;
  }

  h2 {
    color: #fff;
    font-size: 70px;
    font-family: $proxima , sans-serif;
    font-weight: 300;
  }
}
#callout_button {
  @include border-radius(3px);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: $green; /* layer fill content */
  border: none;
  font-weight: $plight;
  color: #fff;
  font-size: 40px;
  margin: 0 auto 0;
  clear: both;
  display: inline-block;
  @include text-shadow(0 0 0);

  &:hover {
    background: lighten($green, 15%);
  }

  @media (max-width: $mobile) {
    height: auto;
    font-size: .85em;
    padding: 10px 35px;
    width: auto;
  }

  @media (min-width: $large) {
    height: auto;
    font-size: 2.5em;
    padding: 30px 65px;
    width: auto;
  }

}


// =================================
//  Second Section
// =================================

#custom_app {
  background: url('../img/ipad_story.jpg') fixed no-repeat top center;
  @include background-size(auto 100%);
  height: 940px;
  // @media screen and (max-width: 1024px) {
  //    height: 1100px
  //  }
  // .content_filler {
  //  height: 500px;
  // }

  @media (max-width: $mobile) {
    height: auto;
  }
  @media (min-width: 768px) and (max-width: $small-screen){
    height: 720px;
  }

  .inner_bg {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    height: 645px;
    @media (min-width: 768px) and (max-width: 1024px){
    height: 650px;
    }
    
    .content_wrapper {
      width: 80%;
      margin: 0 auto;

      .inner_right.image {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 55%;
        @media screen and (max-width: 1024px){
          width: 56%;
        }

        @media (min-width: $large) {
          bottom: -200px;
        }

        img {
          width: 100%;
          @include box-shadow(0 0 35px rgba(0,0,0,.08)); // drop shadow

        }
      }
      .inner_left.desc  {
        float: left;
        margin-top: 189px;
        width: 45%;

        @media screen and (max-width: 1024px) {
            padding-top: 210px;
          }
        @media (min-width: $mobile) and (max-width: $smaller-screen){
          padding-top: 105px;
        }
        p.section.desc {
          margin-right: 30%;
        }


      }
    }
  }
}

// =================================
// Third Section
// =================================

#no_install {
  background: url('../img/desk_story.jpg') fixed no-repeat top center;
  @include background-size(auto 100%);
  height: 940px;
  position: relative;
  // .content_filler {
  //  height: 800px;
  // }

  @media (max-width: $mobile) {
    height: auto;
  }
  @media (min-width: 1024px) and (max-width: $small-screen){
    height: 720px;
  }

  @media (min-width: 768px) and (max-width: 1024px){
    height: 750px;
    background-position: 0 120px;
  }
  .inner_bg {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    @include background-image(linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 21%,rgba(255,255,255,1) 100%));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    height: 595px;
    position: absolute;
    bottom: 0;
    width: 100%;
    

    .content_wrapper {
      width: 80%;
      margin: 0 auto;
      overflow: visible;

      @media (min-width: 768px) and (max-width: 1024px){
          height: 375px;
          padding-top: 25px;    
      }

      .inner_right.desc  {
        float: right;
        margin-top: 189px;
        width: 50%;

        p.section.desc {
          margin-right: 40%;
        }
      }
      .inner_left.iphone {
        float: left;
        width: 45%;
        margin-left: 5%;
        overflow: hidden;
        height: 595px;

        @media (min-width: $large) {
          height: 750px;
          position: relative;
          top: -155px;
        }
        @media screen and (max-width: $small-screen) {
          height: 405px;
          margin-top: 190px;
        }
        @media (min-width: 768px) and (max-width: 1024px){
          height: 375px;
          margin-top: 195px;
        }
        img {
          width: 70%;
        }
      }
    } // .content_wrapper

  } // .inner_bg

}




//================================================
//   Interior Page Stylings
//================================================
body #interior {
    background: url('../img/interior_bg-3.jpg') #f4f4f4 50% -200px no-repeat;
    @include background-size(100%);
    @media (max-width: $large ) {
      @include background-size(130% auto);
    }
    @media (min-width: 769px) and (max-width: 1024px){
      background-position: 50% -120px;
    }
    @media (max-width: $mobile){
      background-position: 50% -20px;
    }
    @media (min-width: $smaller-screen) and (max-width: 1400px){
      background-position: 50% 0px;
    }

    .content.container {
      min-height: 130px;
    }
    p a.home {
      color: $dkteal;
    }
  }

body {
  &.page-Free-Trial #interior {
    background: url('../img/interior_bg.jpg') #f4f4f4 50% 0 no-repeat;
    @include background-size(100%);
    @media (max-width: $large ) {
      @include background-size(130% auto);
    }
    @media (min-width: 820px) and (max-width: $smaller-screen){
      background-position: 50% -120px;
    }
    @media (max-width: 819px){
      background-position: 50% -70px;
    }
    @media (max-width: $mobile){
      background-position: 50% -10px;
    }
    @media (min-width: $smaller-screen) and (max-width: 1400px){
      background-position: 50% 0px;
    }
  }
  &.page-Features #interior {
    background: url('../img/interior_bg-2.jpg') #f4f4f4 50% 0 no-repeat;
    @include background-size(100%);
    @media (max-width: $large ) {
      @include background-size(130% auto);
    }
    @media (min-width: $mobile) and (max-width: $smaller-screen){
      background-position: 50% -120px;
    }

    @media (max-width: $mobile){
      background-position: 50% -10px;
    }
    @media (min-width: $smaller-screen) and (max-width: 1400px){
      background-position: 50% 0px;
    }
  }
  &.page-Contact-Us #interior {
    background: url('../img/interior_bg-3.jpg') #f4f4f4 50% -200px no-repeat;
    @include background-size(100%);
    @media (max-width: $large ) {
      @include background-size(130% auto);
    }
    @media (min-width: 769px) and (max-width: 1024px){
      background-position: 50% -120px;
    }
    @media (max-width: $mobile){
      background-position: 50% -10px;
    }
    @media (min-width: $smaller-screen) and (max-width: 1400px){
      background-position: 50% 0px;
    }
  }
  &.page-Privacy-Policy #interior {
    background: url('../img/interior_bg-3.jpg') #f4f4f4 50% -200px no-repeat;
    @include background-size(100%);
    @media (max-width: $large ) {
      @include background-size(130% auto);
    }
    @media (min-width: 769px) and (max-width: 1024px){
      background-position: 50% -120px;
    }
    @media (min-width: $smaller-screen) and (max-width: 1400px){
      background-position: 50% 0px;
    }
     @media (min-width: 820px) and (max-width: $smaller-screen){
      background-position: 50% -120px;
    }
    @media (max-width: 819px){
      background-position: 50% -70px;
    }
    @media (max-width: $mobile){
      background-position: 50% -10px;
    }
    @media (min-width: $smaller-screen) and (max-width: 1400px){
      background-position: 50% 0px;
    }
  }

}



#interior {

  @media (max-width: $mobile) {
    @include transition(all 0.2s ease);
    &.open {
      margin-top: 50px;
    }
  }


  .clear {
    clear: both;
  }

  .content_wrapper {
    height: auto;
    #feature_2, #feature_3 {
      margin-top: 8em;

      @media (max-width: $mobile){
        margin-top: 40px;
      }
      @media (min-width: 769px) and (max-width: 1024px){
        margin-top: 4.5em;
      }
    }
    #feature_1 {
      margin-top: 8em;
      @media (max-width: $mobile){
        margin-top: 3em;
      }
      @media (min-width: 769px) and (max-width: 1024px){
        margin-top: 3.5em;
      }
    }
    #feature_3 {
      margin-bottom: 8em;
      @media (max-width: $mobile){
        margin-bottom: 40px;

      }
    }
  }

  .callout.content {
    clear: both;
    width: 75%;
    margin: 0 auto;
    padding-top: 40px;
    height: auto;
    @media (max-width: $mobile) {
      padding-top: 1em;
      width: 90%;
    }
    //Fix sizes for small tablet+
    @media (min-width: 769px) and (max-width: 1024px){
      h2 {
        font-size: 2em !important;
        margin: 1em 0 1.5em !important;
      }
      h3 {
        font-size: 1.6em !important;

      }

    }

    h2 {
      color: #fff;
      font-family: $proxima;
      font-size: 4em;
      line-height: 1.2em;
      font-weight: $plight;
      margin: 2em 0 2.25em;
      @media (max-width: $mobile) {
        color: $mdteal;
        font-size: 1.6em;
        margin: 2em 0 1.2em;
      }

      @media (min-width: 480px) and (max-width: 768px) {
        color: #fff;
      }
    }
    h3 {
      color: #222;
      font-size: 2.25em;
      font-weight: normal;
      font-family: $rooney;
      margin: 0;
      @media (max-width: $mobile) {
        font-size: 1.1em;
        margin-top: 40px;

      }
    }
  }

  .content.section {

    width: 100%;
    display: block;
    clear:both;
    overflow: hidden;

    &.section-a {
      .img {
        img {
          @include border-right-radius(11px);
          border: 1px solid $ltgray;
        }
      }
      @media (max-width: $mobile){
        width: 100%;
        padding: 0;

        .img {
          width: 90%;
          float: none;
          margin: 0 auto;
          img {
            @include border-left-radius(11px);
          }
        }
      }
      
    }

    &.section-b {
      .img {
        img {
          @include border-left-radius(11px);
          border: 1px solid $ltgray;
        }
      }

      @media (max-width: $mobile){
        width: 100%;
        padding: 0;
        .img {
          width: 90%;
          float: none;
          margin: 0 auto;
          
          

          img {
            @include border-right-radius(11px);
          }
        }
      }
    }

    .content.call {

      &.desc {
        @media (max-width: $mobile) {
          margin-top: 0 !important;
          padding: 0 1.5em;
        }
        @media (min-width: $mobile) and (max-width: $smaller-screen){
          margin-top: 10px !important;

        }
        @media (min-width: $smaller-screen) and (max-width: 1190px){
          h2 {
          font-size: 1.35em !important;
          }
          p {
            font-size: 1.1em !important;
            }
        }
        
      }

      &.img {
        padding: 0;
      }
      @media (min-width: 769px) and (max-width: 1024px){

        h2 {
          font-size: 1.35em !important;
        }
        p {
          font-size: 1.1em !important;
        }
      }


      h2 {
        font-family: $pbold;
        font-weight: normal;
        font-size: 1.875em;
        color: #222;
        width: 60%;
        margin: 0 auto;
        @media (max-width: $mobile) {
          margin-top: .8em;
          font-size: 1.1em;
          width: 100%;
          margin-left: .5em;
        }
      }
      p {
        font-family: $rooney;
        font-weight: $rreg;
        font-size: 1.25em;
        color: #222;
        width: 60%;
        margin: .9375em auto;
        @media (max-width: $mobile) {
          font-size: 0.8em;
          width: 100%;
          margin-left: .6em;
          margin-top: .8em;
        }
        
      }

      img {
        width: 100%;
        //border: 3px solid #d4d4d4; // stroke
        @include background-clip(padding-box); // prevents bg color from leaking outside the border
        background-color: #fff; // layer fill content

      }
    }

  }

  .extras {
    @include grid-row();
    margin-bottom: 100px;
    max-width: 80%;
    
    @media (max-width: 1024px) and (min-width: 769px){
       max-width: 95%;
    }
    @media (max-width: $mobile){
      max-width: 90%;
      margin-bottom: 1em;
    }
    @media (max-width: 1280px) and (min-width: 1025px){
      max-width: 88%;
    }
  }
  


  .extra.sell {
    margin-bottom: 1.875em;
    @include grid-column(5.5);
    padding: 0 50px 0 60px;

    //Default styling for Icons
    .sell.icon  {
      content: "";
      width: 80px;
      display: block;
      position: absolute;
      left: -80px;
      top: 40px;


    }
    &:nth-child(2n){
      padding: 0 20px 0 60px;
      float: right;
    }
    //Mobile Styling for Icons
    @media screen and (max-width: 769px) {
      padding: 0;
      padding-left: 80px !important;
      width: 100%;
      margin-bottom: 1.1em;

      
      .sell.icon {
        left: 2px;
        display: block;
        top: 5px;
        width: 55px;
      }

      &#call_3 {
        margin-top: 0;
      }

    }
    @media (min-width: 1025px) and (max-width: 1120px){
      padding: 0 10px 0 60px;
    }

    

    h2 {
      font-family: $pbold;
      font-weight: normal;
      font-size: 1.875em;
      color: #222;
      margin: 0px auto 0;
      @media (max-width: $mobile) {
          font-size: 1.1em;
        }
    }
    p {
      font-family: $rooney;
      font-weight: $rreg;
      font-size: 1.25em;
      color: #222;
      margin: .9375em auto;
      @media (max-width: $mobile) {
          font-size: 0.8em;
        }
    }

    @media (min-width: 769px) and (max-width: 1024px){
      h2 {
        font-size: 1.35em;
      }
      p {
        font-size: 1em;
      }

      padding: 0 20px 0 50px;
      margin-left: 30px;

      &:nth-child(2n){
        padding: 0 0 0 50px;
        float: right;
      }
      .sell.icon {
        left: -40px;
        width: 55px;
        top: 0;
      }
    }
    //Turn off icons at this width, they don't fit.
    @media (max-width: 1280px) and (min-width: 1025px){
      

      
      .sell.icon {
        width: 55px;
        left: -50px;
      }
    }
  }

}

//  =============================================================================
//  Footer
//  =============================================================================

    // Sign up teaser
    // -------------------------

    .get-started {
      @include clearfix;
      @include mg-gradient;

      color: $dkteal;
      clear: both;
      font-family: $proxima;
      position: relative;
      text-align: center;
      z-index: 2;



      p {
        font-family: $proxima;
        font-size: 2em;
        padding: 2.125em;
        line-height: 1;
        margin: 0;

        @media (max-width: 480px){
          padding: 1.2em;
        }
      }

      .button {
        background: rgba($white, 0.9);
        color: $teal;
        font-weight: 300;
        margin-left: 20px;
        padding: 15px 50px;
        text-decoration: none;
        margin-bottom: 0;

        @include border-radius(3px);

        &:hover {
          background: $white;
          color: $mint;
        }

        @media (min-width: 768px) and (max-width: 1280px){
          position: relative;
          top: 10px;
        }
        @media (min-width: 768px) and (max-width: 900px){
          display: block;
          width: 70%;
          margin: 0 auto;
        }
      }

      @media (max-width: $mobile) {
        height: auto;
        padding: 25px;

        p {
          font-size: 1.25em;
          line-height: 1.45;
        }

        .button {
          display: block;
          margin: 25px 0 0;
        }
      }
    }

    .sub-footer {
      background: $dkteal;
      height: 85px;
      line-height: 85px;
      overflow: hidden;

      @media (max-width: $mobile) {
        height: auto;
        line-height: 1.45;
        padding: 25px;
      }

      @media (min-width: $large) {
        font-size: 0.85em;
      }

      .container {
        margin: 25px auto;
        max-width: 80%;
        width: 100%;
        @media (max-width: $mobile) {
          max-width: 100%;
        }
      }

      #footer-nav {
        font-family: $proxima;
        float: left;

        .nav {
          margin: 0;
          li {
            display: inline-block;
            a {
              color: $ltblue;
              display: inline-block;
              padding: 5px 10px;
              text-decoration: none;
            }


            &.mobile-only {
                display: none;
                clear: both;
                color: rgba(255,255,255, 0.4);
                margin-top: 5px;
                font-size: 12px;
                font-family: $proxima;
                font-weight: $plight;
                a {
                  color: rgba($white, 0.6);
                }
            }
          }
        }

        @media (max-width: $mobile) {
          float: none;
          display: block;
          padding: 0 0 15px;
          .nav {
            text-align: center;
          }
        }




      }

      .utility {
        float: right;
        font-family: $proxima;
        margin: 0;
        li {
          display: inline-block;

          &.copyright {
            color: $teal;
            display: inline-block;
            padding: 5px 10px;
          }

          &.phone {
            color: $ltblue;
            display: inline-block;
            padding: 5px 10px;
          }

          a {
            color: $ltblue;
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
          }
        }

        @media (max-width: $mobile) {
          float:  none;
          li.copyright {
            display: block;
            padding: 0 0 15px;
            text-align: center;
          }
          li {
            &.privacy, &.phone {
              width: 49%;
              text-align: center;
            }
          }
        }
      }

      @media (min-width: $mobile) and (max-width: 970px){

        height: 105px;

          .utility {
            width: 80%;
            margin: 0 auto;
            float: none;
            clear: both;
            padding-left: 20px;

            @media(max-width: 810px){
              padding: 0;
              width: 90%;
            }

          }
          #footer-nav {
            width: 80%;
            margin: 0 auto;
            float: none;
            padding-left: 30px;

            @media(max-width: 828px){
              padding: 0;
            }

            ul.nav {
              width: 80%;
              margin: 0 auto;
              li {
                margin-right: 2.5em;

                @media(max-width: 800px){
                  margin-right: 2em;
                }
              }
            }
          }
        }

    }

//  =============================================================================
//  Vimeo modal
//  =============================================================================

    #promo {
      z-index: 999999;
      background: transparent;
      border: 0;
      @include box-shadow(0 0 0);
      padding: 0;

      iframe {
         // width: 1600px !important;
         // height: 1600px !important;
      }
    }
    .reveal-modal {
      
      width: 60%;
      margin-left: -30%;

      @media (max-width: $mobile) {
        width: 90%;
        margin-left: -45%;
      }

      
    }

    .reveal-modal-bg {
      z-index: 999998;

    }
    .close-reveal-modal {
      top: -0.7em !important;
      right: -0.6em !important;
      background-color: $white;
      @include border-radius( 15px);
      height: 25px;
      width: 25px;
      //border: 2px solid $black;
      color: $black !important;
      text-align: center;
      line-height: 1 !important;
    }

//  =============================================================================
//  Contact Form
//  =============================================================================

    .contact-container {
      margin-bottom: 8em;

      @media (max-width: $mobile){
        padding: 0 5% 0 5%;
        margin-bottom: 2em;
      }
      @media (max-width: 1280px) and (min-width: 769px){
        margin-bottom: 1em;
      }
    }

    .form-success {
      background: #efefef;
      padding: 30px;
      text-align: center;

      @include border-radius(6px);
      p {
        margin: 0;
        position: relative;
        .check {
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAiUlEQVQ4y2NgIAEoHqwVAOIGIE5gIBUANe0H4v9QbECKxgIkjcRrhjr3PZLG9aTYuh5JI8gQBWI1OqA5t4AU595H0rgfXYECkn8a0OT68QYSFmc5QMUN0MQbcDntPHqAoIndx+c3A7SoeI/NNfgMSEDTAMP9xIbufDSNIBcIkJIgkP0awECrnAMATbi8iY+oDIAAAAAASUVORK5CIIA=)
          no-repeat left center;
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          left: 225px;
          top: 3px;
        }
      }
    }

    .contact-form-description {
      //@include grid-column(5);
      margin-bottom: 2em;

      @media (max-width: $mobile){
        width: 100%;
        margin: 0 auto;
        padding: 0;
      }
    }

    div.form-error {
      background: $white;
      padding: 10px;
      @include border-radius(6px);
      margin-bottom: 10px;
    }
    .form-error {
        font-size: 0.8em;
        color: darken(red, 20%);
        font-family: $proxima;
    }

    .form-container {
      //@include grid-column(7);
      //@include grid-row($behavior: collapse);
      .first_name, .last_name, .phone, .company {
        @include grid-column(6, $collapse: true);
      }

      .email, .source, .message, .form-actions {
        @include grid-column(12, $collapse: true);
      }

      .first_name, .phone {
        padding-right: 7.5px;
      }
      .last_name, .company {
        padding-left: 7.5px;
      }

      @media (max-width: 480px) {
        .fieldgroup {
          float: none;
          padding: 0;
          width: 100%;
        }
      }

      @media (max-width: $mobile){
        width: 100%;
        float: none;
        margin: 2em auto 0;
        padding: 0;
      }

      label {
        color: $mdteal;
        font-family: $proxima;
        font-weight: 700;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      textarea {
        height: 6em;
      }
      

    }

    .form-actions {
      button {
        @include button($padding: $button-med, $bg: $green, $radius: 6px);

        input {
          background: none;
          border: none;
          color: $white;
          font-family: $proxima;
        }
      }
    }

//  =============================================================================
//  Pricing Table
//  =============================================================================
    .pricing-information {
      margin: 8em auto;

      .bulk {
        border: 1px solid #ddd;
        clear: both;
        text-align: center;
        padding: 15px;
        p {
          margin: 0;
        }
      }

      .free-trial {
        margin-top: 3em;
        .start {
          @include button($padding: $button-lrg, $bg: $green, $radius: 6px, $full-width: true);
          font-size: 2em;
           @media (max-width: $mobile) {
            padding: 0.6em 0;
          }
        }
      }

      @media (max-width: $mobile) {
        margin: 4em 0;
      }

    }
    .prices {
      //@include grid-column(3);
      &.pricing-table {
        border: 0;
        .title {
          background: $teal;
          color: $white;
          font-family: $proxima;
          font-size: 1.5em;
          font-weight: 300;
        }
        .price {
          font-family: $proxima, sans-serif;
          font-weight: 300;
          font-size: 2.5em;
        }
        .cta-button {
          .sign-up {
            @include button($bg: $green, $radius: 3px);
            font-family: $proxima;
          }
        }
      }

      @media (max-width: $mobile){

        border: 1px solid $ltgray !important;
        padding-top: .5em;

        &.pricing-table {

          .title {
            display: inline-block;
            padding: 0;
            background: none;
            font-size: 1.5em;
            color: $teal;
            float: left;
            margin-left: 1.8em;

            // &:after {
            //   content: "\2014";
            //   right: 2em;
            //   color: $black;
            //   position: relative;
            // }
          }
          .price {
            display: inline-block;
            padding: 0;
            background: none;
            font-size: 1.2em;
            float: right;
            margin-right: 1.8em;
            margin-top: .2em;
          }
          .bullet-item {
            background: none;
            clear: both;
            text-align: center;
            padding: .5em;
          }
          .bulk {
            font-size: 1.2em;
          }
        }
      }
    }


    //Hide All Secondary ul elements in existing UL
    #main-nav ul.main-nav li ul { display: none; }
    #footer-nav ul.main-nav li ul { display: none; }