
{{ theme:partial src="html-head" }}

<body class="home page-{{ segment_2 }}  {{ tagonomy_slug }}">
<!-- <div class="pixels"></div> -->
{{ theme:partial src="snipe" }}
<section id="home" class="story start" data-0="background-position:40% 0px;"  data-600="background-position:40% -200px;">
{{ theme:partial src="header" }}
<div id="callout">
  <h2>{{ callout_title }}</h2>
  <a href="{{ callout_link_href }}" id="callout_button" class="button huge">{{ callout_link_title }}</a>
</div>


<div id="home_inner" class="inner_bg">
    <div class="skyline">
      <img src="{{theme:img src="skyline-updated.png"}}">
    </div>
    <div class="content_wrapper">
           <div class="inner_left desc call ">
            <h2 class="section head">{{ feature_caption_1 }}</h2>
            <p class="section desc">{{ feature_text_1 }}</p>

            <a href="{{ feature_link_href_1 }}" class="action call">{{ feature_link_title_1 }} <div class="triangle"></div></a>
           </div>
           <div class="inner_right video call">
           <a class="reveal-link" data-reveal-id="promo"><img src="{{ theme:img src="video.jpg"}}" alt=""></a>
           <div class="video-frame"></div>
           </div>
           
    </div>
</div>
</section>
<section id="custom_app" class="story second" data-1300="background-position: 50% -300px;" data-1800="background-position: 50% -100px">
<div class="content_filler"></div>
<div id="custom_inner" class="inner_bg gradient">
    <div class="content_wrapper">
           <div class="inner_left desc call">
            <h2 class="section head">{{ feature_caption_2 }}</h2>
            <p class="section desc">{{ feature_text_2 }}</p>

            <a href="{{ feature_link_href_2 }}" class="action call">{{ feature_link_title_2 }} <div class="triangle"></div></a>
           </div>
           <div class="inner_right image call">
           <img src="{{ theme:img src="browser_image.jpg"}}" alt="">
           </div>
    </div>
</div>
</section>
<section id="no_install" class="story third">
<div class="content_filler"></div>
<div id="no_install_inner" class="inner_bg gradient">
    <div class="content_wrapper">
           <div class="inner_left iphone call">
           <img src="{{theme:img src="iphone_detail.png"}}" alt="">
           </div>
           <div class="inner_right desc call">
            <h2 class="section head">{{ feature_caption_3 }}</h2>
            <p class="section desc">{{ feature_text_3 }}</p>

            <a href="{{ feature_link_href_3 }}" class="action call">{{ feature_link_title_3 }} <div class="triangle"></div></a>
           </div>
    </div>
</div>
</section>
{{ theme:partial src="footer" }}
<div id="promo" class="reveal-modal">
  <div class="flex-video widescreen vimeo">

  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div class="test-vimeo">

</div>

{{ theme:partial src="scripts" }}

</body>
</html>


