
{{ theme:partial src="html-head" }}
<body class="page-{{ title|slugify }}">
{{ theme:partial src="snipe" }}
<section id="interior">
{{ theme:partial src="header" }}
<div class="content_wrapper">
{{ layout_content }}
<br class="clear" />
</div>
</section>
{{ theme:partial src="footer" }}
{{ theme:partial src="scripts" }}
</body>


