//  =============================================================================
//  Colors
//  =============================================================================
    $green: #21C17D;
    $mint: #8fd0b2;
    $teal: #50a199;
    $mdteal: #115d62;
    $dkteal: #063f40;
    $ltblue: #addadb;
    $ltgray: #c1c1c1;

    $white: #FFF;
    $black: #222;

// =================================== //
//   Fonts
// =================================== //

    $proxima: ProximaNova-Regular;
    $pbold: ProximaNova-Bold;
    $plight: normal;
    $rooney: Rooney-Regular;
    $rreg: normal;
    

    // Media Queries
    // -------------------------

    $mobile: 768px;
    $large: 2000px;
    $small-screen: 1280px;
    $smaller-screen: 1024px;
