<div id="intro" class="callout content">
  <h2>{{ page_caption }}</h2>
</div>

<div class="container contact-container">
  {{ if raven:success }}
    <div class="form-success">
      <p><span class="check entypo-check"></span>We’ve got it. One of our representatives will be in touch soon.</p>
    </div>
  {{ endif }}
  {{ if ! raven:success }}
    <div class="contact-form-description large-5 small-12 columns">
      <h4>{{ page_text }}<h4>
    </div>
    <div class="form-container large-7 small-12 columns">
      {{ if raven:has_errors }}
      <div data-alert class="alert-box alert radius">Something isn't quite right here. Try again?<a href="#" class="close">&times;</a>
         <ul>

          {{ raven:errors }}
            {{ missing }}
              <li class="missing"> {{ message }}</li>
            {{ /missing }}

            {{ invalid }}
              <li class="invalid"> {{ message }}</li>
            {{ /invalid }}

          {{ /raven:errors }}
        </ul>


      </div>
      {{ endif }}


        <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="contact-form">
            <input type=hidden name="oid" value="00DA0000000Xv1q"> <input type=hidden name="retURL" value="http://">

            <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
            <!--  these lines if you wish to test in debug mode.                          -->
            <!--  <input type="hidden" name="debug" value=1>                              -->
            <!--  <input type="hidden" name="debugEmail"                                  -->
            <!--  value="Colin.Neller@lindseysoftware.com">                               -->

            <div class="fieldgroup first_name">
              <label for="first_name">First Name</label>
              <input  id="first_name" maxlength="40" name="first_name" size="20" type="text" data-validation="required" />
            </div>
            <div class="fieldgroup last_name">
              <label for="last_name">Last Name</label>
              <input  id="last_name" maxlength="80" name="last_name" size="20" type="text" data-validation="required" />
            </div>
            <div class="fieldgroup email">
              <label for="email">Email</label>
              <input  id="email" maxlength="80" name="email" size="20" type="text" data-validation="email" />
            </div>
            <div class="fieldgroup phone">
              <label for="phone">Phone</label>
              <input  id="phone" maxlength="40" name="phone" size="20" type="text" data-validation="custom" data-validation-regexp="^[01]?[- .]?\(?[2-9]\d{2}\)?[- .]?\d{3}[- .]?\d{4}$"  data-suggestions="800.890.7058" />
            </div>
            <div class="fieldgroup company">
              <label for="company">Company</label>
              <input  id="company" maxlength="40" name="company" size="20" type="text" />
            </div>
            <div class="fieldgroup interest">
              <label for="00NA0000002rG0b">Interest:</label>
              <select  id="00NA0000002rG0b" multiple="multiple" name="00NA0000002rG0b" title="Interest">
                <option value="Product 1">Product 1</option> 
                <option value="Product 2">Product 2</option> 
                <option value="Product 3">Product 3</option> 
                <option value="Services">Services</option>
              </select>
            </div>
            <div class="fieldgroup source">
              <label for="00NG0000009kDia">How did you hear about us?</label>
              <input  id="00NG0000009kDia" maxlength="30" name="00NG0000009kDia" size="20" type="text" data-validation="required"  />
            </div>
            <!-- <div class="fieldgroup message">
              <label for="message">Message</label>
              <textarea id="message" name="message"></textarea rows="4">
            </div> -->
            <div class="fieldgroup form-actions">
              <button><input type="submit" name="submit"></button>
            </div>
        </form>
        {{ /raven:form }}

    </div>
  {{ endif }}









</div>


