<div id="intro" class="callout content">
  <h2>{{ page_caption }}</h2>
  <!-- <h3>{{ page_text }}</h3> -->
</div>

<div class="content container">

<div class="large-12 small-12 columns">
	{{ content }}
</div>

</div>