<div id="intro" class="callout content">
	<h2>{{ page_caption }}</h2>
	<h3>{{ page_text }}</h3>
</div>

{{ features }}
 {{ if index % 2 == 0 }}
<div class="content section section-a" id="feature_{{ index }}">

	<div class="content call img small-12 large-7 columns">
		<img class="lazy" src="{{theme:img src="loading.gif"}}" data-original="{{ feature_image }}" />
	</div>

	<div class="content call desc small-12 large-5 columns">
		<h2>{{ caption }}</h2>
		<p>{{ some_text }}</p>
	</div>

	<br class="clear" />
</div>
{{ else }}
<div class="content section section-b" id="feature_{{ index }}">

	<div class="content call img small-12 large-7 push-5 columns">
		<img class="lazy"  src="{{theme:img src="loading.gif"}}" data-original="{{ feature_image }}" />
	</div>

	<div class="content call desc small-12 large-5 pull-7 columns">
		<h2>{{ caption }}</h2>
		<p>{{ some_text }}</p>
	</div>

	<br class="clear" />
</div>
{{ endif }}

{{ /features }}


<ul class="extras">
	{{ descriptions }}
		  <li class="extra sell content" id="call_{{ zero_index }}">
		  	<div class="sell icon"><img src="{{ feature_image }}" alt="Icon" /></div>
		  	<h2>{{ caption }}</h2>
		  	<p>{{ some_text }}</p>
		  </li>
	{{ /descriptions }}
</ul>