<div id="intro" class="callout content">
  <h2>{{ page_caption }}</h2>
  <h3>{{ page_text }}</h3>
</div>

<div class="pricing-information container">

  {{ features }}
    <ul class="prices pricing-table small-12 large-3 columns">
      <li class="title">
        {{ name }}
      </li>
      <li class="price">
        {{ price }}
      </li>
      <li class="bullet-item">
        {{ description }}
      </li>
    </ul>
  {{ /features }}

  <div class="bulk">
    <p>Accept more than 5000 applications annually for $4999 plus .10 per application.</p>
  </div>

  <div class="free-trial">
    <a href="" class="start">Start your free trial today</a>
  </div>

</div>


