<footer>
  <div class="get-started">
    <p>See what Housing Manager can do for your properties. <a href="/free-trial" class="button">Get Started</a></p>
  </div>
  <div class="sub-footer">
    <div class="container">
      <nav id="footer-nav">
        {{ theme:partial src="nav" }}
      </nav>
      <ul class="utility">
        <li class="copyright">©{{ current_date format="Y" }} HousingManager.com</li>
        <li class="privacy"><a href="/privacy-policy">Privacy Policy</a></li>
        <li class="phone" rel="phone"><a href="tel:8008907058">800.890.7058</a></li>
      </ul>
    </div>
  </div>
</footer>