<header id="banner">
  <a class="branding" href="{{ homepage }}">
    <img src="{{theme:img src="brand.png"}}" alt="">
  </a>
  <nav id="main-nav">
  <a href="" class="control"></a>
  {{ theme:partial src="nav" }}
  </nav>
</header>