<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <title>{{ _site_name }} : {{ title }}</title>




  <link rel="stylesheet" href="{{ theme:css src="screen" }}" />
  <link rel="icon" type="image/png" href="{{ theme:img src="favicon.ico" }}" />
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

  <![endif]-->
  <!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
  <![endif]-->
  <!-- Favicons -->
  

  

  <script type="text/javascript" src="{{ theme:js src="custom.modernizr.js" }}" ></script>

  

</head>