<ul class="nav main-nav">
  
  {{ nav from="/" max_depth="2" }}
    <li><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }}</a>
     {{ if is_current || is_parent }}
       {{ if children }}
        <ul>
        {{ children }}
          <li><a href="{{ url }}"{{ if is_current }} class="current"{{ endif }}>{{ title }}</a></li>
        {{ /children }}
        </ul>
      {{ endif }}
    {{ endif }}

  </li>
  {{ /nav }}
  <li class="mobile-only">Looking for our store? <a href="http://store.housingmanager.com/">Click Here</a></li>
</ul>