<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
<script type="text/javascript" src="{{ theme:js src="vendor/zepto.js" }}"></script>
<script type="text/javascript" src="{{ theme:js src="foundation.min.js" }}"></script>
<script type="text/javascript" src="{{ theme:js src="jquery.fitvids-min.js" }}"></script>
<script type="text/javascript" src="{{ theme:js src="plugins-min.js" }}"></script>
<script type="text/javascript" src="{{ theme:js src="form-validator/jquery.form-validator.min.js" }}"></script>
<script type="text/javascript">


var mobileNav = function() {
  if($(window).width() <= 768) {
    $('#main-nav .control').on("click", function(e){
      e.preventDefault();
      $('#main-nav .main-nav, #home, #interior').toggleClass('open');
    });
  }
}


//Load Vimeo
   var loadVimeo = function() {
      //Determine width of modal
      var promoW = $('#promo').width();

      var videoData = [
        {
            'title':'The Farm',
            'id':'vimeoplayer',
            'videoURL':'http://vimeo.com/72401783'
        }
      ];
        $.getJSON('http://www.vimeo.com/api/oembed.json?url=' + encodeURIComponent(videoData[0]['videoURL']) + '&api=1&player_id='+ videoData[0]['id'] +'&width='+ promoW +'&callback=?', function(data){

            if($(window).width() <= 768) {
                $('.video .video-frame').html(data.html).addClass('loaded');
            } else {
                $('#promo .vimeo').html(data.html); //puts an iframe embed from vimeo's json

                $('#promo .vimeo iframe').load(function(){
                     
                     //Set ID of iframe
                     $('#promo .vimeo iframe').attr('id', videoData[0]['id']);
                     //Set width and height of iFrame
                     $('#vimeoplayer').attr('style', 'width:'+ promoW+ 'px !important');
                     var promoH = $('#vimeoplayer').attr('height');
                     $('#vimeoplayer').attr('style', 'height:'+ promoH+ 'px !important');
                     
                     //Define froogaloop player
                     var iframe = $('#vimeoplayer')[0];
                     var player = $f(iframe);
                     //Make sure the player is ready
                     player.addEvent('ready', function(id){
                          //console.log('ready');
                      });
                     //On click on image -> Open and Play
                     $('.reveal-link').on("click", function(){
                        //console.log("click!");
                        $('#promo').foundation('reveal', 'open');
                        player.api('play');
                        //console.log('play');
                     });

                     //On click outside of modal -> Close and Pause
                     $('html').click(function(){
                        if($('#promo').hasClass('open')){
                            //console.log("close!");
                            $('#promo').foundation('reveal', 'close');
                            player.api('pause');
                        }
                     });
                     //On click of X -> Close and pause
                     $('a.close-reveal-modal').on("click", function(){
                        $('#promo').foundation('reveal', 'close');
                        player.api('pause');
                      }); 

                });//End of .load
          }//End of Else
        });//End of .ajax
    };//End of loadVimeo function


    //Define .content.section function

    var verticalAlign = function() {

      $(".content.section").each(function(){
            var e=$(this).height()-180;
            var t=$(".desc",this).height();
            var n=(e-t)/2;
            $(".desc",this).css("margin-top",n);
        });
    };

    var fixVideo = function () {
      var $container = $('.video.call');

      $videoFrame = $container.find('.video-frame');
      if($videoFrame.hasClass('loaded')){
        $videoFrame.parent().find('a.reveal-link').hide();
        $videoFrame.find('iframe').width('100%');
      }
    }


    //Call Mobile Nav Initilization
    mobileNav();
    $(window).resize(function() {
      mobileNav();
    });

$(document).ready(function() {
     // Handler for .ready() called.

     
    $("#home #callout").bigtext({childSelector:"h2"});

    if($('body').hasClass('home')){
      loadVimeo();

      $(window).resize(function(){
        fixVideo();
      });
    }

    if($(window).width() > 1000){
       $("img.lazy").lazyload({effect:"fadeIn"});
    } else {
      $('.lazy').each(function() {
       $(this).attr("src", $(this).data("original"));
      });
    }

     $.validate({
      validateOnBlur : false, // disable validation when input looses focus
      errorMessagePosition : 'top' // Instead of 'element' which is default
     });

     

     $(window).resize(function() {
      verticalAlign();
     });


});
$(window).load(function() {
    verticalAlign();
})



</script>

