<div class="snipe">
  <div class="snipe-content">
    <p>Looking for forms, toner, and other business supplies? <a href="http://store.housingmanager.com/">Visit the Housing Manager store.</a></p>
  </div>
</div>